
#main {
  width: 800px;
  font-size: 40px;
  opacity: 80%;
  margin: auto;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
 
}

body {
   
    background-image: url('background.jpeg'); 
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1 {
    top: 50%;
    text-align: center;
    justify-content: center;
    font-size: large;
    color:plum;
}
    
   
 
  



  #results {
    
    width: 700px;
    background-color: rgb(152, 199, 223);  
    color:white;
    font-size: large;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    justify-content: center;
    
  }
  
  
