
body {
    background-image: url('background.jpeg'); 
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    justify-content: center;
  }
  
#main {
    width: 800px;
    font-size: 40px;
    opacity: 80%;
    margin: auto;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    color: rgb(132, 64, 193);
  }

  #results {
    width: 700px;
    background-color: rgb(152, 199, 223);  
    margin: auto;
    margin-top: 30px;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    justify-content: center;
  }
  
  
